<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-icon name="logo-buffer"></ion-icon> Meus Diarios
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card color="primary" *ngFor="let diario of listaDiario | async">
		<ion-card-header>
			<ion-card-title> Diario {{ diario.dentrada | date:  'dd/MM/yyyy' }}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<b> Informaçoes: </b>
			<br>
			<br>
			<b> Horario de Entrada </b> <u> {{ diario.hentrada | date:  'HH : mm'  }}</u>
			<br>
			<br>
			<b> Diario do dia:</b> <u> {{ diario.descricaoDia }}</u>
			<br>
			<br>
			<b> Horario de Saida </b> <u> {{ diario.saida | date:  'HH : mm' }}</u>
			<br>
			<br>
			<br>
		</ion-card-content>
	</ion-card>
	<br>


	<br>




		<ion-button color="danger" href="diario"> Criar Diario </ion-button>
		<br>

		<ion-button color="danger" (click)='clicarGeral()'>

		<ion-icon name="arrow-round-down"></ion-icon> Gerar Relatorio Final</ion-button>
		<ion-button color="dark" href="projL"> Voltar aos Meus Projetos </ion-button>
</ion-content>
