<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-icon name="logo-buffer"></ion-icon> Meus Diarios
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card color="primary" *ngFor="let diario of listaDiario | async">
		<ion-card-header>
			<ion-card-title> Diario {{ diario.dentrada }}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<b> Informaçoes: </b>
			<br>
			<br>
			<b>  Horario de Entrada </b> <u> {{ diario.hentrada }}</u>
			<br>
			<br>
			<b>  Horario de Saida </b> <u> {{ diario.saida }}</u>
			<br>
			<br>
			<b> Diario do dia:</b> <u> {{ diario.descricaoDia }}</u>
			<br>
			<ion-button color="danger" (click)='clicarSingle()'>
				<ion-icon name="arrow-round-down"></ion-icon> Baixar Relatorio
			</ion-button>
		</ion-card-content>
	</ion-card>
	<br>
	<ion-card color="dark">
		<ion-card-content>
			<br>
			Foram Completas X horas, Restam ainda Y
			<br>
			Das horas semanais faltam Z horas
			<br>
		</ion-card-content>
	</ion-card>

	<br>


	<ion-button color="danger" (click)='clicarGeral()'>
		<ion-icon name="arrow-round-down"></ion-icon> Baixar Relatorio Final
	</ion-button>
	<ion-button color="dark" href="projL"> Voltar aos Meus Projetos </ion-button>
	<ion-button color="danger" href="diario"> Criar Diario </ion-button>
	<ion-button color="medium" href="home"> Sair </ion-button>
</ion-content>


<ion-footer>

</ion-footer>
<p>
	diario-listar works!
</p>
