<ion-header>

  <ion-toolbar>
    <ion-title>
      <ion-icon name="clipboard"> </ion-icon>
      Gerenciamento de Projetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" *ngFor="let projeto of listaProjetos | async">
    <ion-card-content>
      <ion-item>
        <ion-list>
          <ion-label><b>{{ projeto.newProj }}</b></ion-label>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-label>Responsavel:<br><u>{{ projeto.responsavelName }}</u></ion-label>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>Duração:<br><u> {{ projeto.duration }} meses</u></ion-label>
        </ion-list>
      </ion-item>
      Descrição do Projeto: <b>{{ projeto.descriProj }}</b>

      <br>
      <ion-button color="light" href='diario'> Acessar </ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button color="success" href='cadProj'> AddProjetos </ion-button>
  <br>
  <ion-button color="danger" href='home'> LogOut </ion-button>
</ion-content>

<ion-footer>

</ion-footer>
