<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="school"></ion-icon>
      Cadastro de Projeto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title> Cadastre se Projeto: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nome do Projeto:
      <ion-input placeholder=" example: Nome do Projeto " [(ngModel)]='projeto.newProj'> </ion-input>
      Responssvel do Projeto:
      <ion-input placeholder=" example:User do prof em nosso app " [(ngModel)]='projeto.responsavelName'> </ion-input>
      <ion-list>
        <ion-item>
          <ion-label> Tipo de Projeto: </ion-label>
          <ion-select placeholder="Selecione o Tipo">
            <ion-select-option value="1"> Pesquisa </ion-select-option>
            <ion-select-option value="2"> Extensao </ion-select-option>
            <ion-select-option value="3"> Curso </ion-select-option>
            <ion-select-option value="4"> Outros </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      Tempo de Duraçao em Meses:
      <ion-input placeholder=" Informe a duraçao em Meses " [(ngModel)]='projeto.duration'> </ion-input>
      Quantidade Total de Horas:
      <ion-input placeholder=" Informe a duraçao total em horas " [(ngModel)]='projeto.thoras'> </ion-input>
      Horas Semanais:
      <ion-input placeholder=" Informe a quantidade de Horas semanais " [(ngModel)]='projeto.shoras'> </ion-input>
      <br>

      <ion-item>
        <ion-label position="floating">Descriçao do Projeto</ion-label>
        <ion-textarea [(ngModel)]='projeto.descriProj' placeholder="Entre com a Descriçao do Projeto"></ion-textarea>
      </ion-item>
      <br>
      <ion-button expand="full" (click)='projSalvar()' color="dark"> Confirmar Projeto </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>

</ion-footer>
