<ion-header>
  <ion-toolbar>
    <ion-title>		
       BEM VINDO!! 
      <br>  
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
	<ion-card-header>
		<h1> PROJECT MANAGER: REPORTS, PRESENCE, CONTROL AND LOG DIARY </h1>
	</ion-card-header>
	<ion-card-content>
		<ion-img src="../assets/design/1.png"> </ion-img>
		<br>
		<br>
		<br>
		<br>
		<h1> 
			O app é desenvolvido pelo estudante Arthur, do colégio IFPR-      CAMPUS PARANAVAÍ,na aula de Programação Orinetado Objeto(POO) <br>
			sendo Orientado pelo professor Helio responsavel pela matéria. 
		</h1> 
        <br>
        <br>
        <ion-button color="success" expand="full" href='login'> Acessar App </ion-button>
	</ion-card-content>
  </ion-card>	
</ion-content>
