<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="trending-up"></ion-icon>				
      Project Manager-IFPR
      <ion-button href='login'> Acessar </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
	<ion-card-header>
		<h1> PROJECT MANAGER: REPORTS, PRESENCE, CONTROL AND LOG DIARY </h1>
	</ion-card-header>
	<ion-card-content>
		<ion-img src="../assets/design/1.png"> </ion-img>
		<br>
		<br>
		<br>
		<br>
		<h1> 
			O app é desenvolvido pelo estudante Arthur, do colégio IFPR-CAMPUS PARANAVAÍ,na aula de Programação Orinetado Objeto(POO) <br>
			sendo Orientado pelo professor Helio responsavel pela matéria. 
		</h1> 
	</ion-card-content>
  </ion-card>	
</ion-content>
